
body {
  background-color: #6967E4 !important;
  color: #FFFFFF !important;
}

body .form-item .description {
  color: #FFFFFF !important;
}

header.content-header {
  background-color: transparent !important;
}

div.messages {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  color: #FFFFFF !important;
  background-image: none !important;
  font-size: 1.3em !important;
  padding: 0 !important;
  margin: 0 !important;
}

div.form-type-webform-likert tbody tr:hover, tbody tr:focus {
  background-color: #6967E4 !important;
}

input.form-text,
div.form-type-webform-likert th {
  background-color: transparent !important;
  color: #FFFFFF !important;
}

textarea.form-textarea {
  color: #FFFFFF !important;
  font-size: 0.9em !important;
  padding: 10px !important;
  border-radius: 25px !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background: transparent !important;
  outline: none !important;
}

div.form-type-textfield input::-webkit-input-placeholder,
textarea.form-textarea::-webkit-input-placeholder {
  color: #FFFFFF !important;
}

div.form-type-textfield input:-moz-placeholder,
textarea.form-textarea:-moz-placeholder {
  color: #FFFFFF !important;
}

div.form-type-textfield input::-moz-placeholder,
textarea.form-textarea::-moz-placeholder {
  color: #FFFFFF !important;
}

div.form-type-textfield input:-ms-input-placeholder,
textarea.form-textarea:-ms-input-placeholder {
  color: #FFFFFF !important;
}

div.form-type-textfield input::placeholder,
textarea.form-textarea::placeholder {
  color: #FFFFFF !important;
}

div.webform-message,
div.form-type-checkbox,
div.form-type-textfield,
div.form-type-textarea,
div.form-type-webform-likert,
div.form-type-select,
fieldset.webform-type-checkboxes,
fieldset.webform-type-radios,
hr.webform-horizontal-rule,
label {
  margin-bottom: 30px;
}

fieldset.webform-type-checkboxes div.description,
fieldset.webform-type-radios div.description {
  margin-bottom: 5px !important;
}

div.webform-message label,
div.form-type-textfield label,
div.form-type-textarea label,
div.form-type-webform-likert > label,
fieldset.webform-type-checkboxes span.fieldset-legend,
fieldset.webform-type-radios span.fieldset-legend,
div.form-type-select label {
  font-size: 1.2em !important;
}

div.form-type-select select {
  color: #000000 !important;
}

input.form-submit {
  box-shadow: none !important;
  border-color: white !important;
  background-color: #6967E4 !important;
  background-image: none !important;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1.1em !important;
  border-radius: 10px !important;
  padding: 10px !important;
}
